.page {
    background-color: #2a2c2f;
    min-width: 320px;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%;
}

.header__logo {
    max-width: 176px;
}

@media all and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
    }
}

.header_lang-link {
    width: 22px;
    height: 20px;
    top: 30px;
    left: 242px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 20px;
    font-size: 24px;
    text-align: right;
    transition: 0,5s ease-out;
}

.header_lang-link:hover {
    text-decoration: underline;
    opacity: 0,6;
}

@media all and (max-width: 320px) {
    .header_lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

.lead__title {
    color: #FFFFFF;
}

.lead__subtitle {
    color: #FFFFFF;
}

.lead__caption {
    color: #FFFFFF;
}

.intro__title{
    color: #FFFFFF;
}

.intro__text {
    color: #FFFFFF;
}

.intro__span-accent {
    color: #FFFFFF;
}

.place__title {
    color: #FFFFFF;
}

.paragraph__text {
    color: #FFFFFF;
}

.cover__title {
    color: #FFFFFF;
}

.cover__subtitle {
    color: #FFFFFF;
}

.footer__link {
    color: #FFFFFF;
}